name: Continuous Integration
on:
    push:
      branches:
      - main
    pull_request:
      branches:
      - main
jobs:
    build:
      runs-on: ubuntu-latest
      timeout-minutes: 15
      steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: dotnet build -c Release
      - name: Test
        run: dotnet test -c Release --no-build --collect:"XPlat Code Coverage;Format=lcov"
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
    
